/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 /* DEBUG */
.container {
	/* background-color: lightgray; */
	
}

.row {
	/* background-color: lightblue; */
}

.col {
	/* background-color: lightgreen; */
}

.section {
	/* background-color: lightcoral; */
}
/* DEBUG END */ 

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/* Navbar */
.remove-box-shadow {
  box-shadow: none;
}

/* BANNER */

.custom-banner {
    background-color: #f8f8f8;
}



.time {
	background-image: -webkit-linear-gradient(left, #FFDD98, #FFDD98 1%, transparent 1%, transparent 100%);
	padding-left: 20px;
}



